*{
    font-family: 'Montserrat', sans-serif;
}


.questions {
padding-top: 12.5vw;
padding-bottom: 12.5vw;
}


select {
    width: 540px;
}

.location {
    width: 540px;
}

.getstarted{
    background-color: #7959FF;
    color: white;
}
.getstarted:hover{
    color: white;
}

.circlish{
    margin-top: -8rem;
}

.suitcase{
    position: absolute;
    top: 25vw;
    left: 75vw;
}
.boat{
    position: absolute;
    top: 85.3vw;
    left: 72vw;    
}
.aeroplane{
    position: absolute;
    top: 213.3vw;
    left: 62vw;    
}