*{
    font-family: 'Montserrat', sans-serif;
}


.questions {
padding-top: 12.5vw;
  padding-bottom: 12.5vw;
}


select {
    width: 540px;
}

.location {
    width: 540px;
}

.getstarted{
    background-color: #7959FF;
    color: white;
}
.getstarted:hover{
    color: white;
}